@import url('https://fonts.googleapis.com/css?family=Raleway');
$fonts: 'Raleway',
sans-serif;
$primary-color: #009688;
$alt-color: #fff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  min-width: 320px;
  background: $primary-color;
}

.pageWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2% 1fr 2% 1fr 2%;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: ". header header header ." ". input . output ." ". footer footer footer .";
}

header {
  font-family: $fonts;
  color: $alt-color;
  grid-area: header;
  text-align: center;
  padding: 5px;
}

.textWindow {
  background: $alt-color;
  padding: 5px;
  height: 100%;
  border: none;
  border-radius: 3px;
}

#input {
  grid-area: input;
}

#output {
  grid-area: output;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
}

.toolbar {
  grid-row: 1;
  font-family: $fonts;
  font-weight: bold;
  color: $primary-color;
  margin-bottom: 10px;
}

#editor {
  grid-row: 2;
  height: 100%;
  width: 100%;
  padding: 5px;
  resize: none;
  overflow-y: scroll;
  border: 1px solid #aaa;
}

#preview {
  grid-row: 2;
  height: 100%;
  padding: 5px;
  border: 1px solid #aaa;
  overflow-y: auto;
}

#switch-button {
  grid-area: button;
  display: none;
}

button {
  height: 40px;
  border: none;
  border-radius: 3px;
  color: $primary-color;
  background-color: $alt-color;
  cursor: pointer;
}

footer {
  grid-area: footer;
  font-family: $fonts;
  color: $alt-color;
  text-align: center;
  padding: 5px;
}

@media (max-width: 800px) {
  .pageWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr auto 50px;
    grid-template-areas: "header" "input-output" "button" "footer";
  }
  #input,
  #output {
    grid-area: input-output;
    width: 96%;
    margin: 0 auto;
  }
  #switch-button {
    display: block;
    width: 96%;
    margin: 5px auto;
  }
}

@media (max-width: 800px) {
  header {
    font-size: 75%;
  }
}