$fonts: serif;
$primary-color: #333;
$alt-color: #fff;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.pageWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-template-areas: "header" "input" "output" "footer";
}

header {
  grid-area: header;
  text-align: center;
}

.textWindow {
  margin: 0 auto; //margin: 5%;
  padding: 5px;
  height: 100%;
  width: 90%;
  border: 1px solid black;
}

#input {
  grid-area: input;
  height: 100%;
  padding: 1%;
}

#editor {
  height: 100%;
  width: 100%;
  padding: 5px;
}

#output {
  grid-area: output;
  height: 100%;
  padding: 1%;
}

#preview {
  height: 100%;
  overflow-y: scroll;
}

footer {
  grid-area: footer;
  text-align: center;
}

@media (max-width: 500px) {
  //
}